<template>
  <div class="container py-4" id="containerCatalog">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <LazyYoutube
          src="https://www.youtube.com/watch?v=kjGWRTeoy2w"
          max-width="720px" />
        <h3>SevenSky Smart Watch</h3>
        <p>{{ $t('catalogTrailerVideo') }}</p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-primary rounded-3">
          <h2>OneSky Smart Watch</h2>
          <div>
            <img src="https://sevenskysmartwatch.000webhostapp.com/onesky.jpg" alt="OneSky" width="200" height="200">
          </div>
          <router-link to="/spec" id="btnSpec" class="btn btn-outline-light" type="button">{{ $t('catalogSpecBtn') }}</router-link>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3">
          <h2>TwoSky Smart Watch</h2>
          <div>
            <img src="https://sevenskysmartwatch.000webhostapp.com/twosky.jpg" alt="OneSky" width="200" height="200">
          </div>
          <router-link to="/spec1" id="btnSpec" class="btn btn-outline-secondary" type="button">{{ $t('catalogSpecBtn') }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import LazyYoutube from 'vue-lazytube'

Vue.use(LazyYoutube)

export default Vue.extend({
  name: 'Catalog'
})
</script>

<style lang="scss">
#containerCatalog {
  margin-top: 3rem;
}
#btnSpec {
  margin-top: 1.5rem;
}
</style>
