<template>
  <div class="container" id="contactus">
    <div class="py-5 text-center">
      <h2>{{ $t('contactUs') }}</h2>
      <p class="lead">{{ $t('contactText') }}</p>
    </div>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">{{ $t('contactInfo') }}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">(+62)85815047755</h6>
            </div>
            <span class="text-muted"><b-icon icon="telephone-fill" font-scale="1"></b-icon></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">alifudina00@gmail.com</h6>
            </div>
            <span class="text-muted"><b-icon icon="envelope-fill" font-scale="1"></b-icon></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Pondok Benowo Indah</h6>
              <small class="text-muted">Surabaya, 60197</small>
            </div>
            <span class="text-muted"><b-icon icon="geo-alt-fill" font-scale="1"></b-icon></span>
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">{{ $t('contactFirstName') }}</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">{{ $t('contactLastName') }}</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">{{ $t('contactEmail') }}</label>
              <input type="email" class="form-control" id="email" placeholder="you@email.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-12">
              <label for="message" class="form-label">{{ $t('contactMessage') }}</label>
              <b-form-textarea
                id="message"
                placeholder="Your message.."
              ></b-form-textarea>
              <div class="invalid-feedback">
                Please enter your message.
              </div>
            </div>
          </div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">{{ $t('contactSendBtn') }}</button>
        </form>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
#contactus {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
label {
  text-align: left;
}
</style>
