<template>
  <div id="faq" class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">FAQ</h1>
      <p class="fs-5 text-muted">{{ $t('faqOffer') }}</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">OneSky Smart Watch</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$300</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ $t('serviceSupport') }}</li>
              <li>{{ $t('helpCenter') }}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">{{ $t('buyButton') }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">TwoSky Smart Watch</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$500</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ $t('prioritySupport') }}</li>
              <li>{{ $t('helpCenter') }}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">{{ $t('buyButton') }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">ThreeSky Smart Watch</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$200</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ $t('phoneSupport') }}</li>
              <li>{{ $t('helpCenter') }}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">{{ $t('buyButton') }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" role="tablist">
      <b-container>
        <b-row>
          <b-col cols="11"><h2 class="display-6 text-left mb-4">{{ $t('purchaseText') }}</h2></b-col>
          <b-col cols="1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-1 variant="info"><b-icon icon="arrow-down-circle" font-scale="1"></b-icon></b-button>
            </b-card-header>
          </b-col>
        </b-row>
        <b-card no-body class="mb-1">
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ $t('purchaseProcess') }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-container>

      <b-container>
        <b-row>
          <b-col cols="11"><h2 class="display-6 text-left mb-4">{{ $t('deliveryText') }}</h2></b-col>
          <b-col cols="1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.accordion-2 variant="info"><b-icon icon="arrow-down-circle" font-scale="1"></b-icon></b-button>
            </b-card-header>
          </b-col>
        </b-row>
        <b-card no-body class="mb-1">
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ $t('deliveryProcess') }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </b-container>
    </div>
  </div>
</template>

<style lang="scss">
#faq {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
</style>
