<template>
  <body id="skybodyhome">
    <div class="home">
      <div>
        <b-carousel
          id="carousel-1"
          v-model="slide"
          :interval="4000"
          controls
          indicators
          background="#ababab"
          img-width="1024"
          img-height="480"
          style="text-shadow: 1px 1px 2px #333;"
          @sliding-start="onSlideStart"
          @sliding-end="onSlideEnd"
        >
          <b-carousel-slide class="carousel-item"
            img-src="https://sevenskysmartwatch.000webhostapp.com/onesky.jpg"
>
            <div class="carousel-caption">
              <h3>OneSky Smart Watch</h3>
            </div>
          </b-carousel-slide>

          <b-carousel-slide class="carousel-item"
            img-src="https://sevenskysmartwatch.000webhostapp.com/twosky.jpg"
          >
            <div class="carousel-caption">
              <h3>TwoSky Smart Watch</h3>
            </div>
          </b-carousel-slide>

          <b-carousel-slide class="carousel-item"
            img-src="https://sevenskysmartwatch.000webhostapp.com/threesky.jpg"
          >
            <div class="carousel-caption">
              <h3>ThreeSky Smart Watch</h3>
            </div>
          </b-carousel-slide>
        </b-carousel>
      </div>
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img src="https://sevenskysmartwatch.000webhostapp.com/onesky.jpg" alt="OneSky" width="140" height="140">
            <h2>OneSky Smart Watch</h2>
            <p>{{ $t('homeOneSkyText') }}</p>
            <p><router-link to="/spec" class="btn btn-primary">{{ $t('homeDetailBtn') }} &raquo;</router-link></p>
          </div>
          <div class="col-lg-4">
            <img src="https://sevenskysmartwatch.000webhostapp.com/twosky.jpg" alt="TwoSky" width="140" height="140">
            <h2>TwoSky Smart Watch</h2>
            <p>{{ $t('homeTwoSkyText') }}</p>
            <p><router-link to="/spec1" class="btn btn-primary">{{ $t('homeDetailBtn') }} &raquo;</router-link></p>
          </div>
          <div class="col-lg-4">
            <img src="https://sevenskysmartwatch.000webhostapp.com/threesky.jpg" alt="ThreeSky" width="140" height="140">
            <h2>ThreeSky Smart Watch</h2>
            <p>{{ $t('homeThreeSkyText') }}</p>
            <p><router-link to="/spec2" class="btn btn-primary">{{ $t('homeDetailBtn') }} &raquo;</router-link></p>
          </div>
        </div>
        <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ $t('homeOneSkyText') }}</h2>
        <p class="lead">OneSky Smart Watch</p>
      </div>
      <div class="col-md-5">
        <img src="https://sevenskysmartwatch.000webhostapp.com/onesky.jpg" alt="OneSky" width="400" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ $t('homeTwoSkyText') }}</h2>
        <p class="lead">TwoSky Smart Watch</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://sevenskysmartwatch.000webhostapp.com/twosky.jpg" alt="TwoSky" width="400" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ $t('homeThreeSkyText') }}</h2>
        <p class="lead">ThreeSky Smart Watch</p>
      </div>
      <div class="col-md-5">
        <img src="https://sevenskysmartwatch.000webhostapp.com/threesky.jpg" alt="ThreeSky" width="400" height="400">
      </div>
    </div>
      </div>
    </div>
  </body>
</template>

<style lang="scss">
#skybodyhome {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.carousel-item {
  height: 37rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 37rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.marketing .col-lg-4 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
</style>
