<template>
    <footer id="skyfooter">
        <b-container>
            <p>Copyright &copy; {{new Date().getFullYear()}} - Alifudin Aziz</p>
        </b-container>
    </footer>
</template>

<style lang="scss">
#skyfooter {
    padding: 1rem 0;
    color: #464545;
    text-align: center;
    background-color: #dddddd;
    border-top: .05rem solid #e5e5e5;
}
</style>
