<template>
    <header class="p-3 bg-dark text-white">
        <b-navbar toggleable="lg" type="dark" variant="primary" fixed="top">
        <b-container fluid>
            <b-navbar-brand href="/">
                <b-icon icon="smartwatch" font-scale="2"></b-icon>
            </b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                <b-nav card-header pills>
                    <b-nav-item tag="li" to="/" exact exact-active-class="active">Homepage</b-nav-item>
                    <b-nav-item tag="li" to="/productcatalog" exact exact-active-class="active">Product Catalog</b-nav-item>
                    <b-nav-item tag="li" to="/faq" exact exact-active-class="active">FAQ</b-nav-item>
                    <b-nav-item tag="li" to="/contact" exact exact-active-class="active">Contact Us</b-nav-item>
                </b-nav>
                </b-navbar-nav>
                <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown text="Lang" right>
                    <b-dropdown-item v-for="entry in languages" :key="entry.title" href="#" @click="changeLocale(entry.language)">{{entry.title}}</b-dropdown-item>
                </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
        </b-navbar>
    </header>
</template>

<script lang="ts">
import Vue from 'vue'
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'
import i18n from '@/plugins/i18n'

Vue.use(BootstrapVue)
Vue.use(IconsPlugin)

export default Vue.extend({
  name: 'Header',
  data () {
    return {
      languages: [
        { language: 'en', title: 'English' },
        { language: 'id', title: 'Indonesia' }
      ]
    }
  },
  methods: {
    changeLocale (locale) {
      i18n.locale = locale
    }
  }
})
</script>
